/*
 * Copyright (c) 2024 HARDWARIO a.s.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <st/wl/stm32wle5Xc.dtsi>
#include <st/wl/stm32wle5ccux-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/sensor/lis2dh.h>

/ {
	model = "HARDWARIO STICKER";
	compatible = "hardwario,sticker";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";

		led_r: led_r {
			gpios = <&gpioa 5 GPIO_ACTIVE_LOW>;
		};

		led_g: led_g {
			gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;
		};

		led_y: led_y {
			gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		led0 = &led_r;
		led1 = &led_g;
		led2 = &led_y;
		lora0 = &lora;
		watchdog0 = &iwdg;
	};
};

stm32_lp_tick_source: &lptim1 {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x80000000>, <&rcc STM32_SRC_LSE LPTIM1_SEL(3)>;
	status = "okay";
};

&clk_lse {
	clock-frequency = <32768>;
	driving-capability = <1>;
	status = "okay";
};

&clk_lsi {
	status = "okay";
};

&clk_msi {
	status = "okay";
	msi-range = <11>;
};

&rcc {
	clocks = <&clk_msi>;
	clock-frequency = <DT_FREQ_M(48)>;
	cpu1-prescaler = <1>;
	ahb3-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&adc1 {
	pinctrl-0 = <&adc_in2_pb3>;
	pinctrl-names = "default";
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <4>;
	status = "okay";
};

&gpioa {
	lpd {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&i2c1 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-1 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default", "sleep";
	status = "okay";

	ds2484: ds2484@18 {
		compatible = "maxim,ds2484";
		reg = <0x18>;
		slpz-gpios = <&gpiob 8 GPIO_ACTIVE_LOW>;
		active-pullup;

		ds18b20_0: ds18b20_0 {
			compatible = "maxim,ds18b20";
			resolution = <12>;
			family-code = <0x28>;
		};

		ds18b20_1: ds18b20_1 {
			compatible = "maxim,ds18b20";
			resolution = <12>;
			family-code = <0x28>;
		};
	};

	lis2dh12: lis2dh12@19 {
		compatible = "st,lis2dh";
		reg = <0x19>;
		anym-mode = <LIS2DH_DT_ANYM_6D_MOVEMENT>;
		irq-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>,
			    <&gpioa 2 GPIO_ACTIVE_HIGH>;
		disconnect-sdo-sa0-pull-up;
	};

	opt3001: opt3001@45 {
		compatible = "ti,opt3001";
		reg = <0x45>;
	};

	sht40: sht40@44 {
		compatible = "sensirion,sht4x";
		reg = <0x44>;
		repeatability = <2>;
	};
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00000400>,
		 <&rcc STM32_SRC_LSE RTC_SEL(1)>;
	status = "okay";
};

&iwdg {
	status = "okay";
};

&aes {
	status = "okay";
};

&rng {
	status = "okay";
	clocks = <&rcc STM32_CLOCK_BUS_AHB3 0x00040000>,
		 <&rcc STM32_SRC_MSI RNG_SEL(3)>;
};

&subghzspi {
	status = "okay";
	lora: radio@0 {
		status = "okay";
		antenna-enable-gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
		tx-enable-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		dio3-tcxo-voltage = <SX126X_DIO3_TCXO_3V3>;
		tcxo-power-startup-delay-ms = <5>;
		power-amplifier-output = "rfo-lp";
		rfo-lp-max-power = <14>;
		spi-max-frequency = <1000000>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(32)>;
			read-only;
		};

		slot0_partition: partition@8000 {
			label = "image-0";
			reg = <0x00008000 DT_SIZE_K(108)>;
		};

		slot1_partition: partition@23000 {
			label = "image-1";
			reg = <0x00023000 DT_SIZE_K(108)>;
		};

		storage_partition: partition@3e000 {
			label = "storage";
			reg = <0x0003e000 DT_SIZE_K(8)>;
		};
	};
};
